/* app css stylesheet */

body {
    font-family: Arial;
    margin: 0;
}

header > h1 {
    text-align: center;
}

.menu {
    display: inline-block;
    position: relative;
    left: 0;
    list-style: none;
    margin-top: 0;
    margin-right: 0;
    padding-left: 0;
    font-size: 1.1em;
}

.menu > li {
    display: block;
    background-color: #AAA;
    margin-bottom: 0.3em;
    padding-left: 1em;
    border-style: solid;
    border-color: #00B;
    border-width: 0 0.1em 0.1em 0;
    -moz-border-top-right-radius: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0 1px 1px #00B;
}

.menu > li:hover {
    background-color: #777;
}

.menu > li > a {
    display: block;
    padding-top: 0.2em;
    padding-right: 1em;
    padding-bottom: 0.2em;
    color: #222;
    text-decoration: none;
}

#content {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 2em;
}

#content > * {
    margin-top: 0;
}

table.contact td {
    vertical-align: top;
    padding-right: 2em;
    padding-bottom: 0.5em;
}